<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/apikey.js"></script>

    <script type="importmap">
      {
        "imports": {
          "@google/generative-ai": "https://esm.run/@google/generative-ai",
          "marked": "https://cdn.jsdelivr.net/npm/marked/marked.min.js"
        }
      }
    </script>

    <script type="module" src="/javascripts/module.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body class="container">
    <h1><%= title %></h1>
    <div><br></div>
    <div class="row">
      <!--<div class="col">-->
      <div>
        <div>
          <p id="p_1">下の欄にご相談の内容を記入してください‥‥試供版ですので文字数が30文字に制限されています</p>
        </div>
        <!-- <div class="input-group"> -->
        <div>
          <textarea id="input" cols="40" rows="5" maxlength="30"></textarea>
        </div>
      </div>
      <div><br></div>
      <!--<div class="col-2">-->
      <div>
        <div class="input-group-append">
          <button onClick="doAction();">次にここを押してください</button>
        </div>
        <div><br></div>
        <div><p id="p_2">お守りAI(アイ)ちゃんは一生懸命考えているので少し時間がかかります</p></div>
      </div>
    </div>
    <br>
    <div class="card g-2">
      <div class="card-body">
        <p id="message" class="card-text">ここに回答が出ます</p>  
      </div>  
    </div>
  </body>
</html>
